*{
    font-family: dirooz ;
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: dirooz;
    min-height: 100vh;
    background-color: #00BB8C;}
form{
    background-color: #fff;
    border-radius: 12px;
    padding: 20px 28px;
    width: 400px;
} 
.input a{
    color: #00ad4e;
    text-decoration: none;
}
h1{
    color: #00ad4e;
    text-align: center;
    font-size: 3em;
}   
.btn{
    transition: all 300ms;
}
.btn:hover{
    background-color: #00ad4e;
}
.btn:active{
    color: #89888b;
}
input::placeholder{
    color: grey;
    font-weight: 300;
}
input:focus{
    border-color: #89888b;
}